.sticky {
  display: block;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.post {
  margin-bottom: 4rem;
  padding-bottom: 1rem;
}

.entry-title {
  a {
    color: $body-color;
    &:hover {
      text-decoration: none;
      color: $gray-700;
    }
  }
}

.post-thumbnail {
  margin-bottom: 1rem;
  &.alignfull {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    img {
      height: 100%;
      left: 0;
      object-fit: cover;
      top: 0;
      transform: none;
      width: 100%;
      margin-top: -3rem;
    }
  }
}

.entry-meta,
.entry-footer {
  font-size: 0.75rem;
  margin: 0.75rem 0 2rem;

  .svg-inline--fa {
    color: $gray-600;
    margin-right: 0.3rem;
  }
  span {
    margin: 0 1.5rem 0.4rem 0;
    display: inline-block;

    &:last-child {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $gray-600;

      &:hover {
        color: $gray-900;
      }
    }
  }
  .edit-link {
    .btn {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }
}

/* Posts Pagination */
.pagination {
  justify-content: center;

  .page-numbers {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin: 0 0.2rem;
    width: 2rem;
    text-align: center;

    &.current,
    &:hover {
      background-color: $primary;
      color: white;
      text-decoration: none;
    }
  }
}

/* Posts Navigation */
.nav-links {
  clear: both;
  display: flex;
  justify-content: space-between;
}

/* Screenreaders */
.screen-reader-text {
  @include sr-only;
}

/* 404 page */
.error404 {
  .content-area {
    @include make-col-ready();
    @include make-col(12);
  }
}
