/*--------------------------------------------------------------
## Blocks - Gutenberg
--------------------------------------------------------------*/
@import "blocks/blocks";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "comments";

/*--------------------------------------------------------------
## Posts and Pages
--------------------------------------------------------------*/
@import "posts-and-pages";

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
@import "widgets";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer";

.site-content {
  word-break: break-word;
}

img {
  max-width: 100%;
  height: auto;
}
