/*--------------------------------------------------------------
## Columns
--------------------------------------------------------------*/
@import "columns";

/*--------------------------------------------------------------
## Images
--------------------------------------------------------------*/
@import "images";

/*--------------------------------------------------------------
## Blockquotes & Pullquotes
--------------------------------------------------------------*/
@import "quotes";

/*--------------------------------------------------------------
## Gallery
--------------------------------------------------------------*/
@import "gallery";

/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
@import "tables";

/*--------------------------------------------------------------
## Separators
--------------------------------------------------------------*/
@import "separators";

/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
@import "buttons";

/*--------------------------------------------------------------
## Embeds
--------------------------------------------------------------*/
@import "embeds";

/*--------------------------------------------------------------
## Shared Block Styles
--------------------------------------------------------------*/
.alignleft {
  float: left;
}
.alignright {
  float: right;
}

.aligncenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alignwide {
  margin-left: calc(25% - 25vw);
  margin-right: calc(25% - 25vw);
  max-width: 100vw;
}

.alignfull {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}
